<h1>Admin Login</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :name, "Username" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :virtualPW, "Password" %><br />
    <%= f.password_field :virtualPW %>
  </div>
  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>
