<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name, "Username" %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :virtualPW, "Password" %><br />
    <%= f.password_field :virtualPW %>
  </div>

  <div class="field">
    <%= f.label :admin, "admin" %><br />
    <%= f.text_field :admin %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
