<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <font color="#007789">
    <div class="container">     
      <%= render 'layouts/header' %>
      <section class="round">        
           <table width = "938" >
               <tr>
                  <td width = "658" style="vertical-align:top;">
                      <%= yield %>
                  </td>
                  <%= render 'layouts/sidemenu' %>		  
               </tr>
           </table>      
      </section>
      <%= render 'layouts/footer' %>     
      <%= debug(params) if Rails.env.development? %> 
    </div>
    </font>
  </body>
</html>
